<div class="goodies">
    <h2 class="title-goodies">{% trans %} front.general.ourfloors {% endtrans %}</h2>

    <div class="family d-flex flex-wrap">
        <div class="first-family-button family-button button-active me-3 mb-3" id="all" data-active='true'>{% trans %} front.general.all{% endtrans %} </div>
        {% for floorFamily in category.floorFamilies %}
        <div class="family-button me-3 mb-3" id="{{floorFamily.id}}" data-active='false'>{{floorFamily.text}}</div>
        {% endfor %}
    </div>
    <div class="d-flex flex-wrap mt-5 justify-content-start" id="colors">
        {% for floor in floors | floorFilter %}
            <div class="m-md-4 m-2  color-div" data-family="{{floor.floorFamily.id}}">
                <a class="text-decoration-none text-black" href="{{path('app_detail' , {'slugCategory': slugCategory,'id' : floor.id})}}">
                    <div><img src="{{asset('images/floor/'~ floor.imageName) | imagine_filter('floor')}}" class="rounded" alt=""></div>
                    <div class="floor-text">{{floor.text|capitalize}}</div>
                </a>
            </div>
        {% endfor %}
    </div>
</div>
