<div class="mb-4 col-12 col-md-4">
    <div class="mb-2">{% trans %}front.footer.info{% endtrans %}</div>
        <div class="d-flex flex-column lead">
            <a href="{{path('app_footer_sub', {'slugSubCategory' : missions})}}" class="link-footer">{% trans %}front.footer.mission{% endtrans %}</a>
            <a href="{{path('app_footer_sub', {'slugSubCategory' : history})}}" class="link-footer">{% trans %}front.footer.history{% endtrans %}</a>
            <a href="{{path('app_footer_sub', {'slugSubCategory' : aboutUs})}}" class="link-footer">{% trans %}front.footer.about{% endtrans %}</a>
            <a href="{{path('app_footer_sub', {'slugSubCategory' : safety})}}" class="link-footer">{% trans %}front.footer.safety{% endtrans %}</a>
            <a href="{{path('app_footer_sub', {'slugSubCategory' : transport})}}" class="link-footer">{% trans %}front.footer.transport{% endtrans %}</a>
        </div>
    </div>
    <div class="mb-4 col-12 col-md-4">
        <div class="mb-2">{% trans %}front.footer.inspired{% endtrans %}</div>
        <div class="d-flex flex-column lead">
            <a href="{{path('app_footer_sub', {'slugSubCategory' : aboutUs})}}" class="link-footer">{% trans %}front.footer.about{% endtrans %}</a>
            <a href="{{path('app_footer_sub', {'slugSubCategory' : blog})}}" class="link-footer">{% trans %}front.footer.blog{% endtrans %}</a>
            <a href="{{path('app_footer_sub', {'slugSubCategory' : contact})}}" class="link-footer">{% trans %}front.footer.contact{% endtrans %}</a>
            <a href="{{path('app_footer_sub', {'slugSubCategory' : learn})}}" class="link-footer">{% trans %}front.footer.learn{% endtrans %}</a>
            <a href="{{path('app_footer_sub', {'slugSubCategory' : stores})}}" class="link-footer">{% trans %}front.footer.stores{% endtrans %}</a>
        </div>
    </div>
    <div class="mb-4 col-12 col-md-4">
        <div class="mb-2">{% trans %}front.footer.more{% endtrans %}</div>
        <div class="d-flex flex-column lead">
            <a href="{{path('app_footer_sub', {'slugSubCategory' : fidbox})}}" class="link-footer">{% trans %}front.footer.fidbox{% endtrans %}</a>
            <a href="{{path('app_footer_sub', {'slugSubCategory' : material})}}" class="link-footer">{% trans %}front.footer.material{% endtrans %}</a>
            <a href="{{path('app_footer_sub', {'slugSubCategory' : maintenance})}}" class="link-footer">{% trans %}front.footer.maintenance{% endtrans %}</a>
        </div>
    </div>
</div>