{% extends 'base-admin.html.twig' %}

{% block title %}{% trans %} back.titles.colors {% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %} back.titles.colors {% endtrans %}</h1>
    <div class="d-flex flex-wrap justify-content-end align-items-start">
        <div class="d-flex me-3">
            <form action="{{ path('app_admin_color_index') }}" method="post" class="d-flex">
                <input type="text" name="search" id="" class="form-control">
                <button class="btn btn-dark ms-2" type="submit"><i class="align-middle" data-feather="search"></i></button>
            </form>
        </div>
        <a href="{{ path('app_admin_color_new') }}" class="btn btn-warning">{% trans %} back.ctas.new {% endtrans %}</a>
    </div>
    

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th class="text-center">{% trans %} back.labels.color {% endtrans %}</th>
                <th class="text-center">{% trans %} back.labels.name {% endtrans %}</th>
                <th class="text-center">{% trans %} back.labels.hexa {% endtrans %}</th>
                <th class="text-center">{% trans %} back.labels.active {% endtrans %}</th>
                <th class="text-end">{% trans %} back.labels.actions {% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
        {% for color in colors %}
            <tr>
                <td>{{ color.id }}</td>
                <td class="text-center">
                <div class="square-color" style="background: {{color.hexadecimal1}}"></div>
                </td>
                <td class="text-center">
                    {{ color.name }}   
                </td>
                <td class="text-center">{{ color.hexadecimal1 }}</td>
                <td class="text-center">{{ color.active ? 'Yes' : 'No' }}</td>
                <td class="text-end">
                    {# <a href="{{ path('app_admin_color_show', {'id': color.id}) }}" class="btn btn-primary mb-1 mb-md-0"><i class="align-middle" data-feather="eye"></i></a> #}
                    <a href="{{ path('app_admin_color_edit', {'id': color.id}) }}" class="btn btn-success"><i class="align-middle" data-feather="edit"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">{% trans %}back.message.noRecordFound{% endtrans %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="navigation">
    {{ knp_pagination_render(colors) }}
    </div>
{% endblock %}
